.container ul {



    padding-top: 77px;

    padding-bottom: 100px;



}





.container ul li {

    list-style: none;




}



.container ul li a {

    text-decoration: black;

}





main div section img {



    min-width: 510px;

    height: 340px;

}



section.col-md p.par {



    font-size: 14px;

    font-family: "Roboto";

    color: rgb(180, 173, 158);

    text-transform: uppercase;

    line-height: 1.2;

    padding-top: 30px;

}



section p.main_p {



    font-size: 16px;

    font-family: "Roboto";

    color: blue;

    line-height: 1.5;

    text-align: left;

    max-width: 510px;

    padding-bottom: 135px;

}



section h3 {



    font-size: 30px;

    font-family: "Roboto";

    color: gray;

    line-height: 1.2;

    padding-top: 30px;

    padding-bottom: 45px;

}



footer button {

    width: 160px;

    height: 60px;

    font-size: 20px;

    font-family: "Roboto";

    color: rgb(29, 28, 28);

    line-height: 1.2;

    border-width: 1px;

    border-color: none;

    border-style: solid;

    margin-bottom: 20px;

}